@import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');

// colors
$primary: #09e19b;
$secondary: #f3f3f3;
$dark-green: #046344;
$darkness-green: #057f57;
$black-green: #03432e;
$background: #01160f;
$darkest-green: #001409;
$custom-black: #000d09;
$white: #fff;
$dark-gray: #757575;
$lightGray: #f5f5f5;
$lightGreen: #dcdfdc;
$progress-red: #e21717;
$progress-orange: #ff881a;
$progress-yellow: #fefb02;
$progress-light-green: #4fff00;
$progress-dark-green: #038618;
$faded-progress-red: #fb9191;
$faded-progress-orange: #ffc086;
$faded-progress-yellow: #f2f1b1;
$faded-progress-light-green: #c0f3a8;
$faded-progress-dark-green: #bdecc4;
$rarity-common: #bcdbff;
$rarity-uncommon: #72b4ff;
$rarity-rare: #1a40ff;
$rarity-mythical: #8c18ff;
$rarity-legendary: #fa00ff;
$rarity-immortal: #ffb410;
$rarity-arcana: #97ff00;
$rarity-ancient: #fe3838;
$rarity-seasonal: #ffee01;
$custom-red: #f00;
$darkBlue: #1877f2;
$darkRed: #ed2222;
$lightBlue: #4680c2;
$darkPurple: #9146ff;
$purpleRed: rgba(187, 0, 173, 1);
$redPurple: rgba(240, 0, 16, 1);

// font-sizes
$fontSizeSm: 24px;
$fontSizeMd: 28px;
