@import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');

// colors
$chess-black: rgba(245, 242, 225, 0.4);
$chess-white: rgba(245, 242, 225, 0);
$text-black: #050400;

// font-sizes
$fontSizeSm: 24px;
$fontSizeMd: 28px;
