@import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');

// colors
$customBlack: #010101;
$customWhite: #FFFDF8;
$customYellow: #FFCD4B;
$customYellow50: rgba(255, 205, 75, 0.5);
$TransparentYellow: rgba(255, 205, 75, 0.3);

// font-sizes
$fontSizeXXXS: 12px;
$fontSizeXXS: 16px;
$fontSizeXS: 20px;
$fontSizeS: 22px;
$fontSizeM: 24px;
$fontSizeL: 28px;
$fontSizeXL: 30px;
$fontSizeXXL: 32px;
$fontSizeXXXL: 40px;
